<%- include('../partials/header'); %>

<div class="container-fluid">
  <div class="row">
    <%- include('../partials/sidebar'); %>

    <main class="ms-sm-auto col-lg-10 p-4">
      <script>
        function setUserToRemove(user) {
          $('#formUsername').val(user);
          $('#staticBackdropLabel').text("Delete "+user+"?");
        }

      </script>
      <h4 class="border-bottom pb-3 mb-3">Registered Users</h4>
      <div class="table-responsive py-0 border">
        <table class="table table-striped table-sm table-hover align-middle">
          <thead class="px-3">
            <tr>
              <th>Username</th>
              <th>Devices amount</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            <% locals.usernames.forEach(function(username){ %>
            <tr>
              <td>
                <span class="font-monospace align-middle"><%=username%></span>
              </td>
              <td>
                0
              </td>
              <td><button class="btn-sm btn-danger" onclick="setUserToRemove('<%= username %>')" data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop">Delete</button></td>
            </tr>
            <% }); %>

          </tbody>
        </table>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Delete user</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this user? This cannot be undone.
            </div>
            <div class="modal-footer">
              <form action="/deleteUser" method="POST">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="hidden" id="formUsername" name="username" value="">
                <button class="btn btn-danger" type="submit">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </main>
  </div>
</div>

<%- include('../partials/footer'); %>
</body>

</html>